@charset "utf-8";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap');

:root{
    --mainfont: 'Montserrat', sans-serif;
    --logofont: 'Ubuntu', sans-serif;
}

#title{
    background-color: #ff4c68;
    color: white;
}

h1 {
    font-family: var(--mainfont);
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.navbar{
    padding-bottom: 100px;
    font-size: 1.3rem;
}

.my-brand {
    font-family: var(--logofont);
    font-weight: bold;
    font-size: 2.5rem;
}

.container-fluid {
    padding: 3% 15%;
}

.pad {
    position: relative;
    left: 80px;
}

.img-fluid {
    padding-right: 0;
    width: 60%;
    transform: rotate(25deg);
    padding-top: 5%;
}
.extra-mg {
    margin-right: 0;
}

.down-button {
    margin: 5% 3% 0 0;
}

/* Features */

#features{
    background-color: white;
    font-family: var(--mainfont);
    font-size: 1.5rem;
}

#features p{
    color: #8f8f8f;
    font-size: 1rem;
}

.features-item {
    text-align: center;
    padding-top: 3%;

}

.features-item p {
    padding: 0 8%;
}


h3 {
    font-weight: bold;
    padding: 0
}

.fa-solid{
    font-size: 3em;
    color: #ef8172;
    margin-bottom: 1rem;
}

.fa-solid:hover{
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: white;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    font-family: var(--mainfont);
    line-height: 1.5;
}

.test-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img{
    width: 15%;
    margin: 20px 20px;
}

.carousel-item{
    padding: 7% 15%;
}
