.tabs{
    background-color: #534540;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 30px 0px 30px;
}

.tabs h3{
    font-weight: bold;
}

.tabs {
    font-weight: lighter;
    color: white;
}
.tabs-item{
    flex: 1 0 auto;
    background-color: #806b63;

}

.tabs-item:first-child{
    border-radius: 10px 0 0 0;
}

.tabs-item:last-child{
    border-radius: 0 10px 0 0;
}

.tabs-item.active{
    background-color: #fff;
    color: black;
}